<!DOCTYPE html>
<html ng-app="aitu-project">

<head>
    <meta charset="utf-8" />
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="ProductCtrl">
X
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-lg-6">
                <input ng-model="auth.login" type="text" placeholder="enter login" class="form-control form-control-lg inverse-mode" />
                <input ng-model="auth.password"  type="password" class="form-control form-control-lg inverse-mode" />
                <div class="login-buttons">
                    <button ng-click="login(auth)" type="button" class="btn btn-success btn-block btn-lg">Войти</button>
                </div>
            </div>
        </div>
    </div>
    <h1>Hello {{customer.name}}</h1>

    <div class="row">
        <div class="col-log-12">
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a class="btn btn-default btn-xs active" ng-repeat="category in categoryList" ng-click="getProductsByCategory(category.id)">{{category.name}}</a>
                </span>
            </div>
        </div>
    </div>


    <h3>Product List</h3>
    <div class="row">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th></th>
            <th>ID</th>
            <th>name</th>
            <th>description</th>
            <th>price</th>
            <th>categoryID</th>
            </thead>
            <tr ng-repeat="product in productList | orderBy: 'id'">
                <td ng-click="addProduct(product)"><button class="btn btn-danger btn-md"> ADD </button></td>
                <td ng-bind="product.id"></td>
                <td ng-bind="product.name"></td>
                <td ng-bind="product.description"></td>
                <td ng-bind="product.price"></td>
                <td ng-bind="product.categoryId"></td>
            </tr>
        </table>

        <button ng-click="insertCustomer_order();insertOrder_item()" type="button" class="btn btn-primary btn-block btn-lg">Отправить заказ</button>
    </div>





    <b>Your Bin</b>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        </thead>
        <tr ng-repeat="product in detailedOrderProductList">
            <td ng-click="removeProduct(product)"><button class="btn btn-danger btn-md">REMOVE</button></td>
            <td ng-bind="product.name"></td>
            <td ng-bind="product.description"></td>
            <td ng-bind="product.price"></td>
            <td ng-bind="product.quantity"></td>
            <td ng-click="addQuantity(product)"><button class="btn btn-danger btn-md">ADD</button></td>
        </tr>

    </table>
    <p class="text-primary h5">Total Price: {{totalPrice}}</p>
    <button ng-click="CountTotalPrice()" type="button" class="btn btn-primary">Count total price</button>


    <h3>Order List</h3>
    <button ng-click="getCustomer_order()" type="button" class="btn btn-primary btn-lg">Мои заказы</button>
    <button ng-click="getCustomer_orderByStatus('waiting_for_dispatch')" type="button" class="btn btn-primary btn-lg">Не отправленные заказы</button>
    <button ng-click="getCustomer_orderByStatus('order_in_transit')" type="button" class="btn btn-primary btn-lg">В пути</button>
    <button ng-click="getCustomer_orderByStatus('order_is_accepted')" type="button" class="btn btn-primary btn-lg">Принятые заказы</button>
    <div class="row">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th></th>
            <th>ID</th>
            <th>total_price</th>
            <th>status</th>
            <th>order_date</th>
            </thead>
            <tr ng-repeat="customer_order in customer_orderList | orderBy: 'id'">
                <td></td>
                <td ng-bind="customer_order.id"></td>
                <td ng-bind="customer_order.total_price"></td>
                <td ng-bind="customer_order.status"></td>
                <td ng-bind="customer_order.order_date"></td>
                <td ng-click="deleteCustomer_order(customer_order)"><button class="btn btn-danger btn-md">DELETE</button></td>
            </tr>
        </table>
</div>
</div>


</div>
</body>

</html>
